# import

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/rabito/Desktop/Rabito Docs/Documents/Career Foundry/Python/Instacart Basket Anaylsis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data','Prepared Data', '4.8.1 orders_products_merge_final.pkl'))

# task

In [4]:
df_ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,...,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32.0,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,...,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32.0,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,...,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest days,Fewest orders,5.0,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,...,NaN,10.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3.0,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,...,9.0,11.0,1.0,both,Mid-range product,Least busy,Slowest days,Average orders,3.0,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441.0,777.0,prior,16.0,1.0,...,26.0,7.0,0.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,26.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483.0,825.0,prior,3.0,2.0,...,30.0,2.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9.0,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456.0,910.0,prior,12.0,3.0,...,30.0,1.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12.0,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558.0,1052.0,prior,10.0,1.0,...,19.0,1.0,0.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,20.0,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712.0,1052.0,prior,15.0,1.0,...,15.0,2.0,1.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,20.0,Regular customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115.0,1379.0,prior,1.0,5.0,...,NaN,1.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10.0,New customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193.0,1480.0,prior,36.0,3.0,...,7.0,1.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43.0,Loyal customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826.0,1480.0,prior,38.0,4.0,...,7.0,3.0,1.0,both,Mid-range product,Least busy,Slowest days,Most orders,43.0,Loyal customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698.0,1480.0,prior,39.0,2.0,...,12.0,4.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43.0,Loyal customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753.0,1494.0,prior,6.0,3.0,...,2.0,8.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13.0,Regular customer
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761.0,1494.0,prior,7.0,2.0,...,6.0,18.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13.0,Regular customer
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121.0,1494.0,prior,9.0,5.0,...,10.0,12.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13.0,Regular customer
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390.0,1540.0,prior,4.0,2.0,...,7.0,10.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,28.0,Regular customer
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436.0,1540.0,prior,5.0,1.0,...,6.0,9.0,1.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28.0,Regular customer
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553.0,1540.0,prior,6.0,1.0,...,14.0,9.0,1.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28.0,Regular customer

In [5]:
df_ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [6]:
df_ords_prods_merge['customer_max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/gc/00zck94n7xg4v6fr7ggfw0km0000gp/T/ipykernel_98068/507804913.py:1: FutureWarning: The provided callable <function max at 0x10dfef600> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['customer_max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
df_ords_prods_merge['customer_max_order'].head(40)

0     32.0
1     32.0
2      5.0
3      3.0
4      3.0
5     26.0
6      9.0
7     12.0
8     20.0
9     20.0
10    10.0
11    43.0
12    43.0
13    43.0
14    13.0
15    13.0
16    13.0
17    28.0
18    28.0
19    28.0
20    28.0
21    28.0
22    28.0
23    28.0
24    28.0
25    28.0
26    28.0
27    28.0
28    28.0
29    28.0
30    28.0
31    28.0
32    28.0
33    28.0
34     4.0
35     4.0
36     4.0
37    10.0
38    10.0
39    10.0
Name: customer_max_order, dtype: float64

# flagging customer orders into loyalty categories

In [8]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
df_ords_prods_merge.loc[(df_ords_prods_merge['customer_max_order'] <= 40) & (df_ords_prods_merge['customer_max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0     138.0  Regular customer          28.0
1     138.0  Regular customer          30.0
2     709.0      New customer           2.0
3     764.0      New customer           1.0
4     764.0      New customer           3.0
5     777.0  Regular customer          16.0
6     825.0      New customer           3.0
7     910.0  Regular customer          12.0
8    1052.0  Regular customer          10.0
9    1052.0  Regular customer          15.0
10   1379.0      New customer           1.0
11   1480.0    Loyal customer          36.0
12   1480.0    Loyal customer          38.0
13   1480.0    Loyal customer          39.0
14   1494.0  Regular customer           6.0
15   1494.0  Regular customer           7.0
16   1494.0  Regular customer           9.0
17   1540.0  Regular customer           4.0
18   1540.0  Regular customer           5.0
19   1540.0  Regular customer           6.0

In [12]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
nan                       11
Name: count, dtype: int64

In [13]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203
nan                8.327273

In [14]:
df_ords_prods_merge['customer_max_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/gc/00zck94n7xg4v6fr7ggfw0km0000gp/T/ipykernel_98068/324556022.py:1: FutureWarning: The provided callable <function mean at 0x10dff8040> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['customer_max_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
df_ords_prods_merge['customer_max_spent'].head(20)

0     6.935811
1     6.935811
2     7.930208
3     4.972414
4     4.972414
5     6.935398
6     5.957576
7     6.680000
8     7.162500
9     7.162500
10    5.813636
11    5.139394
12    5.139394
13    5.139394
14    6.803797
15    6.803797
16    6.803797
17    6.607122
18    6.607122
19    6.607122
Name: customer_max_spent, dtype: float64

# flagging customer orders into spending categories

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_max_spent'] >= 10, 'spending_amount'] = 'high_spender'

In [17]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_max_spent'] < 40, 'spending_amount'] = 'low_spender'

In [18]:
df_ords_prods_merge[['user_id', 'spending_amount', 'prices']].head(20)

    user_id spending_amount  prices
0     138.0     low_spender     5.8
1     138.0     low_spender     5.8
2     709.0     low_spender     5.8
3     764.0     low_spender     5.8
4     764.0     low_spender     5.8
5     777.0     low_spender     5.8
6     825.0     low_spender     5.8
7     910.0     low_spender     5.8
8    1052.0     low_spender     5.8
9    1052.0     low_spender     5.8
10   1379.0     low_spender     5.8
11   1480.0     low_spender     5.8
12   1480.0     low_spender     5.8
13   1480.0     low_spender     5.8
14   1494.0     low_spender     5.8
15   1494.0     low_spender     5.8
16   1494.0     low_spender     5.8
17   1540.0     low_spender     5.8
18   1540.0     low_spender     5.8
19   1540.0     low_spender     5.8

In [19]:
df_ords_prods_merge['spending_amount'].value_counts(dropna = False)

spending_amount
low_spender     32001077
high_spender      433135
nan                   11
Name: count, dtype: int64

In [20]:
df_ords_prods_merge['customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/gc/00zck94n7xg4v6fr7ggfw0km0000gp/T/ipykernel_98068/496312617.py:1: FutureWarning: The provided callable <function median at 0x10e310ae0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
df_ords_prods_merge['customer_frequency'].head(20)

0      8.0
1      8.0
2      8.0
3      9.0
4      9.0
5     11.0
6     20.0
7      6.0
8     10.0
9     10.0
10    20.0
11     7.0
12     7.0
13     7.0
14     7.0
15     7.0
16     7.0
17     7.0
18     7.0
19     7.0
Name: customer_frequency, dtype: float64

In [ ]:
# flagging customer frequency into frequency categories

In [22]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'non-frequent customer'

In [23]:
df_ords_prods_merge.loc[(df_ords_prods_merge['customer_frequency'] <= 20) & (df_ords_prods_merge['customer_frequency'] > 10), 'frequency_flag'] = 'regular customer'

In [24]:
df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'frequent customer'

In [25]:
df_ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(20)

    user_id  customer_frequency     frequency_flag
0     138.0                 8.0  frequent customer
1     138.0                 8.0  frequent customer
2     709.0                 8.0  frequent customer
3     764.0                 9.0  frequent customer
4     764.0                 9.0  frequent customer
5     777.0                11.0   regular customer
6     825.0                20.0   regular customer
7     910.0                 6.0  frequent customer
8    1052.0                10.0  frequent customer
9    1052.0                10.0  frequent customer
10   1379.0                20.0   regular customer
11   1480.0                 7.0  frequent customer
12   1480.0                 7.0  frequent customer
13   1480.0                 7.0  frequent customer
14   1494.0                 7.0  frequent customer
15   1494.0                 7.0  frequent customer
16   1494.0                 7.0  frequent customer
17   1540.0                 7.0  frequent customer
18   1540.0                 7.0  frequent customer
19   1540.0                 7.0  frequent customer

# export

In [26]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', '4.8.2 orders_products_merge_final.pkl'))